body {
  background-color: #282828;
  color: white;
}
.div-producto {
  padding-top: 5em !important;
  padding-bottom: 4em;
}
.card-producto {
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

#navBar {
  background-color: black !important;
}
.listaDetalles {
  list-style: none;
  padding: 0%;
}

.txt-color-1 {
  color: white;
}

.custom-hover:hover {
  color: #45d62b !important;
}

#tituloNav {
  color: #45d62b !important;
  text-decoration: none;
}

.titulares {
  color: #45d62b !important;
}

.alto {
  height: 500px;
}

#oooo {
  color: #45d62b;
  background-color: #45d62b;
}

#logo-razer {
  background-image: url(../imagenes/logo.png);
  height: 65px;
  width: 65px;
  background-size: cover; /* Ajusta según tus necesidades */
  background-position: center; /* Ajusta según tus necesidades */
}

#facebook {
  background-image: url(../imagenes/iconografia/facebook.png);
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: center;
}

#x {
  background: url(../imagenes/iconografia/X.png);
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: center;
}

#instagram {
  background: url(../imagenes/iconografia/instagram.png);
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: center;
}

.compras:hover {
  border: 1px solid #45d62b;
  background-color: #45d62b;
  color: black;
}
