body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.custom-hover:hover {
  color: #45d62b !important;
}
main p {
  color: black;
}

#marca {
  color: #45d62b !important;
  text-decoration: none;
  font-size: 1.7em !important;
}

#logo {
  display: flex;
  align-items: center;

  gap: 10px;
}

#logo img {
  height: 70px;
  margin: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}

#lista {
  color: rgb(172, 172, 172);
  list-style: none;
  display: flex;
  gap: x;
  align-items: center;
  font-size: 1em;
}

#lista a {
  text-decoration: none;
  color: rgb(172, 172, 172);
}

nav {
  display: flex;
  background-color: #000000;
  justify-content: space-between;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  height: 90px;
}

#producto img {
  width: 70%;
  height: 70%;
  margin: 10px;
  border-radius: 5px;
}

#producto {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  width: 500px;
  height: auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); /* offsetX, offsetY, blurRadius, color */
}

main {
  display: flex;
  justify-content: center;
}

body {
  background-color: #282828;
  color: white;
}

h1 {
  font-size: 1.5em;
}

#contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#precio {
  color: green;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #2b3035;
  color: white;
  padding: 10px 200px;
}

#contenedor {
  display: flex;
  align-items: center;
  width: 90%;
  align-items: flex-start;
  margin: 100px 0px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

div ul {
  list-style: none;
  color: white;
}

div h2 {
  margin: 0px;
  color: white;
  padding: 0px;
}

div li {
  margin: 0px;
  padding: 10px;
}

#autor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
}
