body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

#logo a {
  color: green;
  text-decoration: none;
  font-size: 2em;
}

#logo img {
  height: 70px;
}

#lista {
  color: rgb(172, 172, 172);
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1em;
}

nav {
  display: flex;
  background-color: #2b3035;
  justify-content: space-between;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  height: 80px;
}

#producto img {
  width: 70%;
  height: 70%;
  margin: 10px;
  border-radius: 5px;
}

#producto {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  width: 500px;
  height: auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); /* offsetX, offsetY, blurRadius, color */
}

main {
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(207, 207, 207);
}
h1 {
  font-size: 1.5em;
}

#contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#precio {
  color: green;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #2b3035;
  color: white;
  padding: 10px 200px;
}

footer {
  height: 100px;
}
